In [63]:
import pandas as pd
import datetime

import numpy as np

In [117]:
df_master = pd.read_csv("..\datasources\master_dataset.csv")

df_master.head()

,date,rate,uncertainty,litigious,strong_modal,weak_modal,constraining,optimistic,rsi_14,stochrsi_14,...,utlimate_oscillator,roc,bank_rate,W.BCPI,W.BCNE,W.ENER,W.MTLS,W.FOPR,W.AGRI,W.FISH
0,1972-01-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.75,100.0,100.0,100.0,100.0,100.0,100.0,100.0
1,1972-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.75,100.0,100.0,100.0,100.0,100.0,100.0,100.0
2,1972-01-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.75,100.0,100.0,100.0,100.0,100.0,100.0,100.0
3,1972-01-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.75,100.0,100.0,100.0,100.0,100.0,100.0,100.0
4,1972-01-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,4.75,100.0,100.0,100.0,100.0,100.0,100.0,100.0

### Set Label for each row

In [118]:
df_master['y_exp'] = np.full(df_master.shape[0], -1)

for i, row in df_master.iterrows():
    try:
        two_weeks_from_current_date = datetime.datetime.strptime(row.date, "%Y-%m-%d") + datetime.timedelta(weeks=2)

        futur_rate = list(df_master.loc[df_master['date'] == str(two_weeks_from_current_date.date())].rate)[0]
        df_master.loc[i, 'y_exp' ] = futur_rate
    except: 
        break

df_master = df_master.loc[df_master.y_exp >= 0]

In [120]:
df_master= df_master.dropna()
df_master= df_master.reset_index(drop=True)

In [121]:
df_master

,date,rate,uncertainty,litigious,strong_modal,weak_modal,constraining,optimistic,rsi_14,stochrsi_14,...,roc,bank_rate,W.BCPI,W.BCNE,W.ENER,W.MTLS,W.FOPR,W.AGRI,W.FISH,y_exp
0,1993-02-03,1.2645,41.0,18.0,4.0,15.0,18.0,-39.0,38.212401,0.048874,...,-1.349665,6.09,258.79,218.23,458.49,244.83,270.60,165.77,668.80,1.2596
1,1993-02-04,1.2672,41.0,18.0,4.0,15.0,18.0,-39.0,42.427864,0.211060,...,-0.712999,6.09,258.79,218.23,458.49,244.83,270.60,165.77,668.80,1.2643
2,1993-02-05,1.2618,41.0,18.0,4.0,15.0,18.0,-39.0,36.992024,0.001922,...,-1.329371,6.09,258.79,218.23,458.49,244.83,270.60,165.77,668.80,1.2606
3,1993-02-08,1.2618,41.0,18.0,4.0,15.0,18.0,-39.0,36.992024,0.001922,...,-1.514205,6.09,258.79,218.23,458.49,244.83,270.60,165.77,668.80,1.2603
4,1993-02-09,1.2630,41.0,18.0,4.0,15.0,18.0,-39.0,39.006023,0.079408,...,-1.773215,6.09,258.79,218.23,458.49,244.83,270.60,165.77,668.80,1.2590
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7700,2022-08-26,1.2924,9.0,4.0,4.0,3.0,8.0,-6.0,51.315658,0.474760,...,0.279330,2.75,740.72,480.93,1822.91,812.13,518.34,356.88,1605.17,1.3093
7701,2022-08-29,1.3030,6.0,8.0,4.0,6.0,12.0,24.0,57.916404,0.801578,...,2.012057,2.75,740.72,480.93,1822.91,812.13,518.34,356.88,1605.17,1.3024
7702,2022-08-30,1.3012,6.0,8.0,4.0,6.0,12.0,24.0,56.515141,0.732198,...,1.903046,2.75,740.72,480.93,1822.91,812.13,518.34,356.88,1605.17,1.2993
7703,2022-08-31,1.3093,6.0,8.0,4.0,6.0,12.0,24.0,61.078692,0.958150,...,2.529366,2.75,742.61,479.82,1833.19,812.06,516.34,355.10,1605.17,1.3169
7704,2022-09-01,1.3133,6.0,8.0,4.0,6.0,12.0,24.0,63.136124,1.000000,...,1.750988,3.50,742.61,479.82,1833.19,812.06,516.34,355.10,1605.17,1.3167